@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-primary-950 text-primary-100 leading-loose
    }
    .h1 {
        @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold
    }
    .h2 {
        @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold
    }
    .h3 {
        @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold
    }
    .post-body ul, ol {
        @apply text-[110%] leading-[2.3] font-bold my-3
    }
    .post-body pre {
        @apply bg-primary-800 p-5 my-5 leading-[2.3]
    }
}

@layer components {
    .spinner {
        margin: 3.2rem auto 1.6rem;
        width: 60px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 8px solid theme('colors.primary.900');
        border-right-color: theme('colors.primary.200');
        animation: rotate 1s infinite linear;
    }
    .spinner-mini {
        margin: 0;
        width: 20px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 2px solid theme('colors.primary.200');
        border-right-color: transparent;
        animation: rotate 1s infinite linear;
    }
    @keyframes rotate {
        to {
            transform: rotate(1turn);
        }
    }
}
body .w-md-editor-toolbar {
    @apply bg-primary-900 text-primary-50
}
body .w-md-editor-toolbar li > button {
    @apply text-primary-50 p-3 h-fit
}
body .w-md-editor-toolbar li > button:hover, 
body .w-md-editor-toolbar li > button:focus,
body .w-md-editor-toolbar li.active > button {
    @apply text-accent-600
}
body .wmde-markdown {
    @apply bg-transparent
}
body .wmde-markdown pre {
    @apply bg-primary-900
}
body .wmde-markdown p, .wmde-markdown blockquote, .wmde-markdown ul, .wmde-markdown ol, .wmde-markdown dl, .wmde-markdown table, .wmde-markdown pre, .wmde-markdown details {
    @apply overflow-x-auto
}